* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
  overflow-y: scroll;
}
.images {
  width: 100%;
  height: auto;
}
.section-2 {
  margin-top: 100px;
}
i {
  font-weight: bolder;
}
@media only screen and (max-width: 800px) {
  .img-1 {
    width: 100%;
    height: auto;
  }
  .lead-1 {
    line-height: 150%;
  }
  .image-2 {
    width: 400px;
    height: auto;
  }
}
