* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
  overflow-y: scroll;
}
.sub-container {
  padding-top: 45px;
}
.sub-container-1 {
  padding-top: 10px;
}
.sub-container-0 {
  padding-top: 0px;
}
.madou {
  margin-left: 600px;
}
.about-text {
  padding-bottom: 15px;
}
@media only screen and (max-width: 800px) {
  .madou {
    margin-left: auto;
  }
  .meImage {
    width: 100%;
    height: auto;
  }
}
